/*Screen size = 1400px width*/
/*Default font = 16px*/


body {
	background-color: #FFFED4;
	margin: 1%;
	font: 1em arial, verdana, georgia; /*16px*/
}

#wrapper {
	width: 68.57% ; /*960px*/
	margin: 0% 15.71%; /* 1400-960=440px | 440/2=220 | 220/1400= 15.71% */
	background-color: #fff;
	border: .125em solid #000; /*2px*/
	padding: .52% 1.04%; /*5x, 10px*/
	-moz-box-shadow: 0 0 .625em #777;
	-webkit-box-shadow: 0 0 .625em #777;
	box-shadow: .313px #777;
}

/*-------adding Lora font---------*/
@font-face {
	font-family: lora;
	src: url(http://fonts.googleapis.com/css?family=Lora);
}/*---------End of font addition: Lora--------*/

/*---------Navigation code-----------*/
nav {
	text-align: center;
}

#navigation li {
	display: inline;
	margin-right: 1.04%;
	text-decoration: none;
}

/*unvisited link*/
a:link {
	color: #777;
	text-decoration: none;
}

/*visited link*/
a:visited {
	color:red;
	text-decoration: none;
}
	
/*mouse over link*/
a:hover {
	color:red;
	text-decoration: none;
}
	
/*selected link*/
a:active {
	color:blue;
	text-decoration: none;
}/*-----------End Of Navigation Code-------------*/


/*--------------Main Styles------------*/
h1,h2,h3, #quote {
	font-family: lora, arial, georgia;
}
/*====Header/Main Title====*/
h1 {
	text-align: center;
	color: #fff;
	background-color: Brown; /*CHANGE TO IMAGE BACKGROUND*/
	margin: 0% 27%;
	border: .250em solid #000; /*4px*/
	padding: .250em;
	border-radius: 1.250em; /*20px*/
	-moz-border-radius: 1.250em;
	-webkit-border-radius: 1.250em;
}/*End of Header/Main Title*/

/*-------Header and Sub Headers-------*/
h2 {
	text-align:center;
	font: 1.500em;
}

h3 {
	text-align: center;
	font: 1.125em;
	text-decoration: underline;
}/*-------End Header/Sub Headers-------*/
/* Figures inside 300px column*/
figure {
	margin: 6.66% 3.33%; /*20px 10px*/
	font-variant: small-caps;
	text-align:center;
	border: .125em solid #000;
	height: 250px;
	width: 83.33%; /*250px*/
}
/*End of figures/*
/* Calendar 300px */
#calendar {
	width: 50%;
	height: 150px;
	margin: 0% 25%;
}/* Calendar End */

/* Most popular LIST */
ol {
	list-style-type: upper-roman;
}

/* Most popular list End */



/*---------End of Main Styles------------*/


/*-----Footer------*/

footer {
	background-color: #777;
	color: #fff;
	clear: left;
	text-align: center;
}
q {
	font: italic small-caps bold .875em/*14px*//140% arial;
	text-shadow: .063em .063em 0px #000;
	opacity: .8;
}/*-----Footer End------*/

/*-----3 column------*/
aside, #about-us, #window-shop {
	width: 31.25%; /*300px*/
	margin: 1.04%;
	float: left;
}

#wscontent {
	height: 260px;
	overflow: scroll;
	border: .125em solid #000;
	background-color: #777;
	padding: 0 0 0 .625em;
}
#mpi {
	margin: 0 0 0 6.25%;
}
	
	
/*-----End 3 column------*/